@import url('https://fonts.googleapis.com/css2?family=Explora&family=Josefin+Sans:wght@700&family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Explora&family=Josefin+Sans:wght@700&family=Playfair+Display:ital,wght@1,800&family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Explora&family=Josefin+Sans:wght@700&family=Playfair+Display:ital,wght@1,800&family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Explora&family=Josefin+Sans:wght@700&family=Permanent+Marker&family=Playfair+Display:ital,wght@1,800&family=Poppins:wght@700&family=Raleway:wght@300&display=swap');

a{
  text-decoration: none;
}

li{
font-size: 21px;
  list-style-type: none;
} 

header{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 10%;
  background-color: #2C3E50;
  justify-content: space-between;
}

.logo{
  color: #FFF;
  font-weight: 900;
}

nav ul{
  display: flex;
  flex-direction: row;
}

nav ul li{
  font-family: 'Quicksand', sans-serif;
  margin-left: 5px;
  margin-right: 5px;
}
nav ul li a{
  color: #FFF;
  display: block;
  padding: 10px 20px;
  border-radius: 1px;
}

nav ul li a:hover{
  color: #DC7633;
}

.cta{
  background-color: #DC7633;
  color: #FFF;
}

.cta:hover{
  background-color: #D35400;
  color: #FFF;
}

.logo {
width: 140px;
height: 90px ;
padding: 20px 0;
border-radius: 50%;
}

body {
    background-image: url("back-titlu.jpg");
    background-size: cover;
    margin: 0;
  }

.detalii {
    position:relative;
    left: 40%;
    margin-left: 50px;
    font-size: 40px;
    font-family: 'Permanent Marker', cursive;
    color: antiquewhite;
    text-shadow: 2px 2px 2px #000000;
}

.editare {
    font-size: 25px;
    position: relative;
    left: 40%;
    margin-left: 50px;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    text-overflow: ellipsis;
    width: 50%;
    color: antiquewhite;
    text-shadow: 2px 2px 2px #000000;
    padding-bottom: 15px ;
  }

  .card-body  {
    margin-right: 0;

  }

span {
    font-size: 35px;
    font-family: 'Permanent Marker', cursive;
    color: #DC7633;
  }

  .tipuri_cafea {
    padding: 15px 25px 25px;
    height:200px;
    width: 200px;
    border-radius: 20%;
    background-color: rgb(241, 241, 241);
    box-shadow: 0px 0px 20px 0.3px rgb(107, 107, 107);
  }

  .descriere {
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
  }

  .regiunea {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
  }

  span {
    font-family: 'Permanent Marker', cursive;
  }

.toate  {
    text-align: left;
    flex: 1;
    transition: 0.3s;
}

.img-container{
    width: 600px;
    height: 650px;
    background-color: #2C3E50;
    margin-top: 75px;
    margin-left: 50px;
    border-radius: 75px;
    position: absolute;
}

.img {
    width: 500px;
    height: 550px;
    margin: 50px;
    border-radius: 80px;
    float: left;   
}



.footer{
    background:#000;
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    }
    
    .footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:0.8em;
    }
    
    .footer .row a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
    }
    
    .footer .row a:hover{
    color:#fff;
    }
    
    .footer .row ul{
    width:100%;
    }
    
    .footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    .footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }
    
    @media (max-width:720px){
    .footer{
    text-align:left;
    padding:5%;
    }
    .footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }
    .footer .row a i{
    margin:0% 3%;
    }
    }
  
    .logo_footer {
    width: 170px;
    height: 120px ;
    border-radius: 50%;
    }
  
    .footer_center {
        color: gray;
        font-family: 'Play', sans-serif;
        font-size: 18px;
    }